<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	

	<script>  
	function checkProcessInfo()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			// IE6, IE5 浏览器执行代码
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				document.getElementById("processInfo").innerHTML=xmlhttp.responseText;
				// alert(xmlhttp.responseText)
			}
		}
		xmlhttp.open("GET","/cgi-bin/checkProcessInfo.py",true);
		xmlhttp.send();
	}
	function stopProcess()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			// IE6, IE5 浏览器执行代码
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				// document.getElementById("stopInfo").innerHTML=xmlhttp.responseText;
				alert(xmlhttp.responseText)
			}
		}
		xmlhttp.open("GET","/cgi-bin/stopProcess.py",true);
		xmlhttp.send();
	}
	function downloadData()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			// IE6, IE5 浏览器执行代码
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				// document.getElementById("stopInfo").innerHTML=xmlhttp.responseText;
				alert(xmlhttp.responseText)
			}
		}
		xmlhttp.open("GET","/cgi-bin/downloadData.py",true);
		xmlhttp.send();
	}
	</script>  

	<title>Grain Growth Simulation</title>
</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Profile</a>
				</li>
				<li class="disabled">
					<a href="#">Messages</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Log In<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Separated link</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h3>
					Grain evolution during heat-treatment
					<small> By PFM</small>
				</h3>
			</div>
		</div>
	</div>
</div>

<form action="" method="POST">
{% csrf_token %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel-group text-center" id="panel-653891">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<a class="panel-title" data-toggle="collapse" data-parent="#panel-653891" href="#panel-element-36746">
							Mesh
						</a>
					</div>
					<div id="panel-element-36746" class="panel-collapse collapse">
						{# Mesh table begins#}
						<table class="table table-hover table-condensed">
							<tbody>
								{% for field in mesh_form %}
								<tr class="warning">
								<td> {{ field.label }} </td>
								<td> {{ field }} </td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{# Mesh table ends #}
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-653891" href="#panel-element-75462">
							Outputs
						</a>
					</div>
					<div id="panel-element-75462" class="panel-collapse collapse">
						{# outputs table begins#}
						<table class="table table-hover table-condensed">
							<tbody>
								{% for field in outputs_form %}
								<tr class="warning">
								<td> {{ field.label }} </td>
								<td> {{ field }} </td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{# outputs table ends #}
					</div>
				</div>
			</div>
		</div>

		{# second col #}
		<div class="col-md-4">
			<div class="panel-group text-center" id="panel-666666">
				<div class="panel panel-success">
					<div class="panel-heading">
						<a class="panel-title" data-toggle="collapse" data-parent="#panel-666666" href="#panel-element-23333">
							Initial Condition
						</a>
					</div>
					<div id="panel-element-23333" class="panel-collapse collapse">
						{# ic table begins #}
						<table class="table table-hover table-condensed">
							<tbody>
								{% for field in ic_form %}
								<tr class="success">
								<td> {{ field.label }} </td>
								<td> {{ field }} </td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{# ic table ends #}
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-666666" href="#panel-element-11111">
							Executioner
						</a>
					</div>
					<div id="panel-element-11111" class="panel-collapse collapse">
						{# executioner table begins#}
						<table class="table table-hover table-condensed">
							<tbody>
								{% for field in executioner_form %}
								<tr class="success">
								<td> {{ field.label }} </td>
								<td> {{ field }} </td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{# executioner table ends #}
					</div>
				</div>
			</div>
		</div>

		{# third column #}
		<div class="col-md-4">
			<div class="panel-group text-center" id="panel-123456">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="panel-title" data-toggle="collapse" data-parent="#panel-123456" href="#panel-element-34932">
							Materials
						</a>
					</div>
					<div id="panel-element-34932" class="panel-collapse collapse">
						{# Materials table begins#}
						<table class="table table-hover table-condensed">
							<tbody>
								{% for field in materials_form %}
								<tr class="info">
								<td> {{ field.label }} </td>
								<td> {{ field }} </td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{# Materials table ends #}
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-123456" href="#panel-element-23123">
							More
						</a>
					</div>
					<div id="panel-element-23123" class="panel-collapse collapse">
						{# More table begins#}
						<table class="table table-hover table-condensed">
							<tbody>
								under construction
							</tbody>
						</table>
						{# More table ends #}
					</div>
				</div>
			</div>
		</div>
		{# end of the third column #}
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<button type="submit" class="btn btn-block btn-lg btn-default">
				Compute
			</button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

</form>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
			<br/>  
			<button onclick='stopProcess()' class="btn btn-block btn-lg btn-default">
				Stop 
			</button>
			<br/>  

			 <a id="modal-222841" onclick='checkProcessInfo()' href="#modal-container-222841" role="button" class="btn btn-block btn-lg btn-default" data-toggle="modal">Check status</a>
			
			<div class="modal fade" id="modal-container-222841" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">
								Simulation Status
							</h2> 
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<pre id="processInfo"></pre>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">
								Close
							</button> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<br/>  
			<a href="http://127.0.0.1:8080" class="btn btn-block btn-lg btn-default" target="view-results">
				View results
			</a>
			<br/>  
			<button onclick='downloadData()' class="btn btn-block btn-lg btn-default">
				Download raw data
			</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

</body>
</html>
